.icon-bg {
	padding-left: 29px;
	background-size: 26px 26px;
	background-repeat: no-repeat;
	background-color: transparent;
	&:hover, &:focus {
		color: #000;
		background-repeat: no-repeat;
	}
}

.icon-clock {
	background-image: url(../images/icon-clock.png) !important;
}
.icon-calendar {
	background-image: url(../images/icon-calendar.png) !important;
}
.icon-pig {
	background-image: url(../images/icon-pig.png) !important;
}
.icon-dollar-sign {
	background-image: url(../images/icon-dollar-sign.png) !important;
}
.icon-add-location  {
	background-image: url(../images/icon-add-location.png) !important;
}
.icon-location  {
	background-image: url(../images/icon-location.png) !important;
}
.icon-add-user  {
	background-image: url(../images/icon-add-user.png) !important;
}
.icon-view-task  {
	background-image: url(../images/icon-view-task.png) !important;
}
.icon-view-file  {
	background-image: url(../images/icon-view-file.png) !important;
}
.icon-left-arrow {
	background-image: url(../images/icon-left-arrow.png) !important;
}
.icon-right-arrow {
	background-image: url(../images/icon-right-arrow.png) !important;
}
.icon-recycle-bin {
	background-image: url(../images/icon-recycle-bin.png) !important;
}
.icon-btn-share {
	background-image: url(../images/icon-btn-share.png) !important;
}
.icon-start {
	background-image: url(../images/icon-start.png) !important;
}
.icon-circle {
	background-image: url(../images/icon-circle.png) !important;
}
.icon-user {
	background-image: url(../images/icon-user.png) !important;
}
.icon-cross {
	background-image: url(../images/icon-cross.png) !important;
}

.icon-project-created-status, .icon-project-archived {
	background-image: url(../images/icon-project-created-status.png) !important;
}
.icon-project-created-starred {
	background-image: url(../images/icon-project-created-starred.png) !important;
}

.icon-search {
	background-image: url(../images/icon-search.png) !important;
}

.icon-inbox {
	background-image: url(../images/icon-inbox.png) !important;
}

.icon-all-task{
	background-image: url(../images/icon-all-task.png) !important;
}

.icon-checkbox{
	background-image: url(../images/icon-checkbox.png) !important;
}

.icon-file{
	background-image: url(../images/icon-file.png) !important;
}
.icon-down{
	background-image: url(../images/icon-down.png) !important;
}
.icon-add{
	background-image: url(../images/icon-add.png) !important;
}