.project-info-panel{
    background-color: #2D2D2D;
    padding:0 8px;

    & > header {
        margin: 0 0 20px 0;
    }

    .top-bar {
        background-color: transparent;
        color: #FFF;
        margin-left: -0.8em !important;
    }

    .top-bar li {
        display: inline-block;
        width: 18.8%;
        height: 44px;
        background-color: #333;
        margin: 0 1px 0 0;
    }

    .top-bar li.current{
        background-color: #2D2D2D;
        color: #FFF;
    }

    .top-bar li.current a{
        color: #FFF;
    }


    .top-bar a{
        background-color: transparent;
        color: #808080;
        font-size: 2.5em;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .top-bar a:hover{
       text-decoration: none;
       color:#FFF;
    }

    .projects-list span {
        font-size: 0.7333333333333333em;
        padding-top: 11px;

    }

    .projects-list .last{
        color:#989898;
    }

    .project-summary {
        padding: 0;
    }

    .project-summary span{
        color :#666666;
        text-transform: capitalize;
    }

    .project-summary ul li{
        padding: 5px 12px 5px 50px;
        background-position-x: 10px;
        border-bottom: 1px solid #CCC;
    }

    .project-summary header {
        height: 92px;
        overflow: hidden;
        background-color: #3E4766;

        .dashboard{
            display: inline-block;
            width: 70%;
            background-color: #3E4766;
            float: left;

            .task-info {
                background-color: #3E4766;
                color: #FFF;
                width: 50%;
                margin: 0; padding: 0;
                display: inline-block;
                float: left;
                text-align: center;
                .label1 {
                    font-size: 0.69em;
                    color: #67B3A0;
                }

                .value {
                    color: #FFF;

                    font-size: 2.2em;
                    padding: 0;
                    line-height: 1em;
                    margin: 5px 0;
                }
            }

            .this-week {
                background-color: #343E61;
                height: 27px;

                .label1{
                    font-size: 0.8em;
                    color: #67B3A0;

                    margin: 0 14px;
                    vertical-align: middle;
                    padding: 0;
                }

                .duration {
                    color: #FFF;

                    vertical-align: middle;
                    padding: 0;
                    font-size: 0.9em;
                }
            }

            .this-task{
                overflow: hidden;
            }
        }

        .today {
            font-size: 0.8em;
            background-color: #67B3A0;
            color: #455C67;
            height: 92px;
            text-align: center;
            width: 30%;
            display: inline-block;
            float: left;
            position: relative;

            .bg-overlay {
                width: 100%;
                display: inline-block;
                height: 46px;
                background-color: #2A7E64;
                @include opacity(0.5);
                position: absolute;
                top: 0; left: 0;
            }

            .day{
                font-size: 4.5em;
                font-weight: bold;

                margin: 0;
                padding: 0;
                height: 50px;
                line-height: 1em;
            }
            .month-year{
                padding: 0 0 5px 0;
            }
        }
    }


    .module-box {
        li {
            padding-left: 26px;
            background-size: auto 26px;
            background-position: 0 50%;

            &#project_dashboard_all_project_number{
                 background-size: 26px auto;
            }
        }
    }
}


.module-box {
    color: #000;
    background-color: #FFF !important;
    padding: 12px;
    margin: 0 0 14px 0;
    font-size: 1.5em;

    font-family: "Open Sans Light";
    @include border-bottom-left-radius(2px);

    .icon{
        font-size: 1.5em;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        padding:0;
        margin:0;
        list-style: none;
    }

    li:hover{
        cursor: pointer;
    }

    span {
        vertical-align: top;
        line-height: 1.5em;
        padding-top: 6px;
        display: inline-block;
    }
}

